@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.8;
  color: var(--desaturated-blue);
  font-size: 15px;
}

h1,
h2 {
  /* color: var(--very-dark-blue); */
  font-weight: bold;
}

li {
  color: var(--desaturated-blue);
  font-size: 15px;
  font-weight: 700;
}

.btn {
  background-color: var(--bright-blue);
}

.link {
  color: var(--moderate-cyan);
}

.cta {
  background-color: var(--desaturated-blue);
}

footer {
  background-color: var(--very-dark-blue);
}

@media (min-width: 1024px) {
  p {
    font-size: 16px;
  }
}